.container {
  position: relative;
  z-index: 2;
  margin-top: 1em;
}

.bg {
  position: fixed;
  z-index: 1;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}
.bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

.header {
  background-color: #709bc2;
  font-size: 2em;
  line-height: 1.5;
  color: #fff;
}
.header div.dept {
  background: #4a6580 url(../img/shield.png) no-repeat 25px 10px;
  padding: 6px 12px 6px 65px;
  margin-top: 0;
  height: 55px;
  width: 160px;
}
@media screen and (max-width: 640px) {
  .header div.dept {
    width: 0;
    height: 55px;
    padding: 6px 0px 5px 54px;
    background-position: 10px 10px;
    background-color: #4a6580;
  }
}
@media screen and (max-width: 640px) {
  .header div.dept .deptLabel {
    display: none;
  }
}
.header div.branch {
  font-size: 20px;
  padding: 7px 0 0 25px;
}
@media screen and (max-width: 640px) {
  .header div.branch {
    padding-left: 10px;
  }
}
@media screen and (max-width: 480px) {
  .header div.branch {
    font-style: 15px;
    padding-top: 10px;
  }
}
