@font-face {
  font-family: "GoodDogRegular";
  src: url("../fonts/GoodDog-webfont.eot");
  src: url("../fonts/GoodDog-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/GoodDog-webfont.woff") format("woff"), url("../fonts/GoodDog-webfont.ttf") format("truetype"), url("../fonts/GoodDog-webfont.svg#GoodDogRegular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "QuicksandLightOblique";
  src: url("../fonts/Quicksand_Light_Oblique-webfont.eot");
  src: url("../fonts/Quicksand_Light_Oblique-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Quicksand_Light_Oblique-webfont.woff") format("woff"), url("../fonts/Quicksand_Light_Oblique-webfont.ttf") format("truetype"), url("../fonts/Quicksand_Light_Oblique-webfont.svg#QuicksandLightOblique") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "QuicksandBook";
  src: url("../fonts/Quicksand_Book-webfont.eot");
  src: url("../fonts/Quicksand_Book-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Quicksand_Book-webfont.woff") format("woff"), url("../fonts/Quicksand_Book-webfont.ttf") format("truetype"), url("../fonts/Quicksand_Book-webfont.svg#QuicksandBook") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "QuicksandBookOblique";
  src: url("../fonts/Quicksand_Book_Oblique-webfont.eot");
  src: url("../fonts/Quicksand_Book_Oblique-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Quicksand_Book_Oblique-webfont.woff") format("woff"), url("../fonts/Quicksand_Book_Oblique-webfont.ttf") format("truetype"), url("../fonts/Quicksand_Book_Oblique-webfont.svg#QuicksandBookOblique") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "QuicksandDash";
  src: url("../fonts/Quicksand_Dash-webfont.eot");
  src: url("../fonts/Quicksand_Dash-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Quicksand_Dash-webfont.woff") format("woff"), url("../fonts/Quicksand_Dash-webfont.ttf") format("truetype"), url("../fonts/Quicksand_Dash-webfont.svg#QuicksandDash") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "open_sanssemibold";
  src: url("../fonts/OpenSans-Semibold-webfont.eot");
  src: url("../fonts/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Semibold-webfont.woff") format("woff"), url("../fonts/OpenSans-Semibold-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Semibold-webfont.svg#open_sanssemibold") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "open_sanslight";
  src: url("../fonts/OpenSans-Light-webfont.eot");
  src: url("../fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light-webfont.woff") format("woff"), url("../fonts/OpenSans-Light-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Light-webfont.svg#open_sanslight") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "open_sansbold";
  src: url("../fonts/OpenSans-Bold-webfont.eot");
  src: url("../fonts/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold-webfont.woff") format("woff"), url("../fonts/OpenSans-Bold-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Bold-webfont.svg#open_sansbold") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "open_sansregular";
  src: url("../fonts/OpenSans-Regular-webfont.eot");
  src: url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "entypo";
  src: url("../fonts/entypo.eot");
  src: url("../fonts/entypo.eot?#iefix") format("embedded-opentype"), url("../fonts/entypo.woff") format("woff"), url("../fonts/entypo.ttf") format("truetype"), url("../fonts/entypo.svg#entypo") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "fontawesome";
  src: url("../fonts/fontawesome-webfont.eot");
  src: url("../fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome-webfont.ttf") format("truetype"), url("../fonts/fontawesome-webfont.svg#fontawesome") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

html {
  font-size: 16px;
}

body {
  font-family: 'open_sansregular', sans-serif;
}

.bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}
.bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}
@media screen and (max-width: 640px) {
  .bg {
    display: none;
  }
}

.frame {
  max-width: 1130px;
  min-width: 360px;
  min-height: 540px;
  margin: 0 auto;
  margin-top: 30px;
  position: relative;
  z-index: 3;
  box-shadow: 0 0 20px black;
  background-color: #fff;
  overflow: hidden;
}
@media screen and (max-width: 1190px) {
  .frame {
    margin: 30px;
  }
}
@media screen and (max-width: 640px) {
  .frame {
    margin: 0;
    box-shadow: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'open_sansbold', sans-serif;
}

header {
  width: 100%;
  height: 55px;
  background-color: #709bc2;
}
header div {
  float: left;
  color: #fff;
  font-size: 30px;
  margin-top: 7px;
  padding: 0 0 0 10px;
}
header div.dept {
  background: #4a6580 url(../img/shield.png) no-repeat 25px 10px;
  padding: 6px 12px 6px 65px;
  margin-top: 0;
  height: 55px;
  width: 160px;
}
@media screen and (max-width: 640px) {
  header div.dept {
    width: 0;
    height: 55px;
    padding: 6px 0px 5px 54px;
    background-position: 10px 10px;
    background-color: #4a6580;
  }
}
@media screen and (max-width: 640px) {
  header div.dept .deptLabel {
    display: none;
  }
}
header div.branch {
  font-size: 20px;
  padding: 7px 0 0 25px;
}
@media screen and (max-width: 640px) {
  header div.branch {
    padding-left: 10px;
  }
}
@media screen and (max-width: 480px) {
  header div.branch {
    font-style: 15px;
    padding-top: 10px;
  }
}
header div.login {
  float: right;
  margin-right: 25px;
  margin-top: 4px;
}
@media screen and (max-width: 640px) {
  header div.login {
    float: none;
    position: absolute;
    right: 6px;
    top: 53px;
    color: #fff;
    margin-right: 0;
    background-color: #709bc2;
    margin-top: 0;
    padding: 0px;
    line-height: 1;
    font-size: 12px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
  }
}
header div.login a {
  font-size: 12px;
  color: #fff;
}
@media screen and (max-width: 640px) {
  header div.login a {
    color: #fff;
    padding: 5px 9px;
    display: inline-block;
  }
}
@media screen and (max-width: 640px) {
  header div.login a:hover {
    text-decoration: none;
    color: #313131;
  }
}
header .menuctrl {
  margin: 0;
  padding: 0;
  width: 60px;
  height: 55px;
  position: relative;
  float: left;
  display: none;
}
header .menuctrl .cloze {
  display: none;
}
@media screen and (max-width: 640px) {
  header .menuctrl {
    display: block;
  }
}
header .menuTabLabel {
  width: 60px;
  background: white url(../img/menu_icon.png) no-repeat 20px 16px;
  padding-top: 34px;
  font-size: 10px;
  color: #666;
  display: block;
  text-align: center;
  vertical-align: bottom;
  opacity: 1;
  border-right: 2px solid #313131;
  padding-bottom: 7px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 4;
}
header .menuTabLabel:hover {
  cursor: pointer;
  text-decoration: none;
}
header .menuTabLabel.menu {
  z-index: 3;
}
@media screen and (max-width: 640px) {
  header .menuTabLabel.menu {
    display: inline-block;
    background-color: #313131;
    color: #fff;
    background-image: url("../img/menu_icon_white.gif");
  }
}
header .menuTabLabel.lock {
  z-index: 2;
}
header .menuTabLabel.invertcloze {
  z-index: 1;
}
header .menuTabLabel.menu,
header .menuTabLabel.lock,
header .menuTabLabel.invertcloze {
  display: inline-block;
  background-color: #313131;
  color: #fff;
  background-image: url("../img/menu_icon_white.gif");
}

@media screen and (max-width: 640px) {
  nav {
    display: none;
  }
}

nav.rNav {
  display: none;
}
@media screen and (max-width: 640px) {
  nav.rNav {
    display: block;
    position: absolute;
    left: -195px;
    top: 55px;
    width: 190px;
    background-color: #313131;
    z-index: 5;
  }
  nav.rNav > ul > li > a {
    color: #efefef;
    background-color: #313131;
    border-bottom: 1px solid #222;
    border-top: 1px solid #434343;
    display: block;
    padding: 5px 25px 5px 0px;
  }
  nav.rNav > ul > li > a:hover {
    text-decoration: none;
  }
  nav.rNav .aqmhome {
    border-top-color: #313131;
  }
  nav.rNav .aqmhome:hover {
    border-top-color: #222;
  }
  nav.rNav h2 {
    color: #efefef;
    font-size: 13px;
    font-weight: normal;
    font-family: 'open_sansregular';
    text-align: right;
    margin: 0;
    background-color: #555;
    padding: .5em 26px .75em 0;
  }
  nav.rNav h2:hover {
    cursor: pointer;
    background-color: #efefef;
    color: #313131;
  }
  nav.rNav .section ul {
    list-style-type: none;
    position: absolute;
    background: #313131;
    padding-left: 0;
    margin-left: 0;
    margin-top: -30px;
    z-index: -1;
    left: -300px;
    display: block;
  }
  nav.rNav .section ul li {
    list-style-type: none;
  }
  nav.rNav .section ul li a {
    font-size: 12px;
    text-align: left;
    padding: 5px 5px 5px 1em;
    color: #efefef;
    display: block;
    white-space: nowrap;
    border-bottom: 1px solid #666;
  }
}

.content {
  background: #fff;
  margin-left: 160px;
  padding: 2em;
  min-height: 475px;
}
@media screen and (max-width: 640px) {
  .content {
    margin-left: 0;
  }
}
